.customRadio {
  display: flex;
  gap: 12px;
  margin-top: 0.25rem;
}

.customRadio_label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 4px 24px;
  border-radius: 12.5px;
  color: #2a1f37;
  font-weight: bold;
  font-size: 1.2rem;
  border: solid 3px transparent;
  cursor: pointer;
}

.customRadio_input {
  display: none;
}

.customRadio_input:checked + .customRadio_label {
  border: solid 3px #00ff66;
}
